<% for (const item of items) { %>

<!-- The Modal -->
<div id="modal-<%= item.avatar %>" class="modal">
<!-- Modal content -->
<div class="modal-content">
<span class="close" data-dismiss="modal">×</span>
<p>&nbsp;</p>
<h1><%= item.name %></h1>
<span style="text-align: center;"><img src="images/<%= item.avatar %>.jpg" width="120px" style="border-radius:50%; align-self: center;"></span>
<p>&nbsp;</p>
<p><%= item.latest %></p>
<p>
<% if (item.facebook) { %>&nbsp;&nbsp;<a href="https://facebook.com/<%= item.facebook %>"><i class="bi bi-facebook" style="font-size:25px"></i></a>&nbsp;&nbsp;<% } %>
<% if (item.linkedin) { %>&nbsp;&nbsp;<a href="https://linkedin.com/<%= item.linkedin %>"><i class="bi bi-linkedin" style="font-size:25px"></i></a>&nbsp;&nbsp;<% } %>
<% if (item.twitter) { %>&nbsp;&nbsp;<a href="https://twitter.com/<%= item.twitter %>"><i class="bi bi-twitter" style="font-size:25px"></i></a>&nbsp;&nbsp;<% } %>
<% if (item.github) { %>&nbsp;&nbsp;<a href="https://github.com/<%= item.github %>"><i class="bi bi-github" style="font-size:25px"></i></a>&nbsp;&nbsp;<% } %>
</p>
</div>

</div>

<% } %>