```{=html}
<table class="quarto-listing-table table">
    <tbody class="list">
    <% for (const item of items) { %>
        <tr data-index="0" data-categories="null" <%= metadataAttrs(item) %>>
        <td class="listing-date">
            <%= item.date %>        
        </td>
        <td class="listing-title">
            <a href="<%= item.path %>"><%= item.title %></a>     
        </td>
        <td>
            <span style="display: none;" class="listing-categories">
                <% for (const caty of item.categories) { %>
                    <%= caty %> &nbsp;
                <% } %>
            </span>
            <% for (const caty of item.categories) { %>


                <% if(caty == "probability") { %>
                <span class="bi bi-dice-5-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "chess") { %>
                <span class="bi bi-grid-3x3" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "logic") { %>
                <span class="bi bi-door-open-fill" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "paper") { %>
                <span class="bi bi-file" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "folding") { %>
                <span class="bi bi-file-earmark" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "cutting") { %>
                <span class="bi bi-scissors" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "tiling") { %>
                <span class="bi bi-columns" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "graphs") { %>
                <span class="bi bi-bounding-box-circles" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "game") { %>
                <span class="bi bi-joystick" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
                <% if(caty == "geometry") { %>
                <span class="bi bi-circle-square" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= caty %>"></span>
                <% } %>
            <% } %>
        </td>        
</tr>
<% } %>
</tbody>
</table>

```
