```{=html}
<table class="quarto-listing-table table">
    <thead>
        <td>Date</td>
        <td>Lecture</td>
        <td>Slides</td>
        <td>Notes</td>
        <td>Video</td>
    </thead>
    <tbody class="list">
    <% for (const item of items) { %>
        <tr data-index="0" data-categories="null" <%= metadataAttrs(item) %>>            
            <td class="listing-date">
                <%= item.date %>
            </td>
            <td class="listing-title-summary" style="max-width: 420px !important;">
                <% if (item.lecid) { %><%= item.lecid %>.<% } %> 
                <% if (item.hovertext !== undefined) { %><span data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="" data-bs-original-title='<%= item.hovertext %>'><%= item.title %></span> <% } else { %>
                <%= item.title %> <% } %>
                <br><br>
                <p style="font-size:small;"><%= item.summary %></p>
            </td>
            <td class="listing-slides" style="text-align: center;">
                <% if (item.slides) { %>
                    <a href="<%= item.slides %>"><span class="bi bi-file-earmark-slides"></span></a>
                <% } %>
            </td>
            <td class="listing-notes" style="text-align: center;">
                <% if (item.notes) { %>
                    <a href="<%= item.notes %>"><span class="bi bi-journal-richtext"></span></a>
                <% } %>
            </td>
            <td class="listing-video" style="text-align: center;">
                <% if (item.video) { %>
                    <a href="<%= item.video %>"><span class="bi bi-film"></span></a>
                <% } else { %>
                    <span class="bi bi-dash-circle-dotted"></span>
                <% } %>                
            </td>
        </tr>
    <% } %>
</tbody>
</table>

```
