```{=html}
<table class="quarto-listing-table table">
    <thead>
        <td>Issued</td>
        <td>Assessment</td>
        <td>Problems</td>
        <td>Solutions</td>
    </thead>
    <tbody class="list">
    <% for (const item of items) { %>
        <tr data-index="0" data-categories="null" <%= metadataAttrs(item) %>>            
            <td class="listing-date">
                <%= item.dateissued %>
            </td>
            <td class="listing-title" style="max-width: 420px !important;">
                <strong><%= item.title %></strong><br>
                <p><%= item.summary %></p>
            </td>
            <td class="listing-problemset">
                <% if (item.problemset) { %>
                    <a href="<%= item.problemset %>"><span class="bi bi-journal-richtext" style="padding-left: 42px;"></span></a>
                <% } else { %>
                    <span class="bi bi-alarm" style="color:indianred; padding-left: 42px;"></span>
                <% } %>
                </td>
            <td class="listing-solutions">
                <% if (item.solutions) { %>
                    <a href="<%= item.solutions %>"><span class="bi bi-journal-richtext" style="padding-left: 32px;"></span></a>
                <% } else { %>
                    <span class="bi bi-alarm" style="color:indianred; padding-left: 32px;"></span>
                <% } %>
                </td>
        </tr>
    <% } %>
</tbody>
</table>

```
