```{=html}
<table class="quarto-listing-table table">
    <thead>
        <td>Date</td>
        <td>Lecture</td>
        <td>Slides</td>
        <td>Notes</td>
        <td>Video</td>
        <td>Recap</td>
    </thead>
    <tbody class="list">
    <% for (const item of items) { %>
        <tr data-index="0" data-categories="null" <%= metadataAttrs(item) %>>            
            <td class="listing-date">
                <%= item.date %>
            </td>
            <td class="listing-title" style="max-width: 420px !important;">
                <strong><% if (item.lecid) { %><%= item.lecid %>.<% } %> <%= item.title %></strong><br>
                <p><%= item.summary %></p>
            </td>
            <td class="listing-slides" style="text-align: center;">
                <% if (item.slides) { %>
                    <a href="<%= item.slides %>"><i class="bi bi-file-earmark-slides"></i></a>
                <% } %>
            </td>
            <td class="listing-notes" style="text-align: center;">
                <% if (item.notes) { %>
                    <a href="<%= item.notes %>"><i class="bi bi-journal-richtext"></i></a>
                <% } %>
            </td>
            <td class="listing-video" style="text-align: center;">
                <% if (item.video) { %>
                    <a href="<%= item.video %>"><i class="bi bi-film"></i></a>
                <% } %>
            </td>
            <td class="listing-video" style="text-align: center;">
                <% if (item.tallycode) { %>
                    <a href="https://tally.so#tally-open=<%= item.tallycode %>"><i class="bi bi-question-circle-fill"></i></a>
                <% } %>
            </td>
        </tr>
    <% } %>
</tbody>
</table>

```
