```{=html}
<table class="quarto-listing-table table">
    <tbody class="list">
    <% for (const item of items) { %>
        <tr data-index="0" data-categories="null" <%= metadataAttrs(item) %>>
            <td>
                <% if ( item.audience == "Undergraduate Course" ) { %>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.audience %>"><span class="bi bi-stars"></span></span>
                <% } %>
                <% if ( item.audience == "Postgraduate Course" ) { %>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.audience %>"><span class="bi bi-bookmark-star-fill"></span></span>
                <% } %>
                <% if ( item.audience == "Reading Group" ) { %>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.audience %>"><span class="bi bi-people-fill"></span></span>
                <% } %>
                <% if ( item.audience == "Topics Course" ) { %>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.audience %>"><span class="bi bi-asterisk"></span></span>
                <% } %>
            </td>
            <td class="listing-url">
                <% if ( item.url ) { %>
                <span><a href="<%= item.url %>"><span class="bi bi-link"></span></a></span>            
                <% } %>
            </td>
            <td class="listing-coursecode">
                <%= item.coursecode %>
            </td>
            <td class="listing-title" style="min-width:450px;">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.description %>"><%= item.title %></span>
            </td>
            <td>
                <% if ( item.semester == 3 ) { %>
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.when %>" style="background:darkorchid;"><%= item.year %></span>
                <% } %>
                <% if ( item.semester == 1 ) { %>
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.when %>" style="background:olivedrab;"><%= item.year %></span>
                <% } %>
                <% if ( item.semester == 2 ) { %>
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.when %>" style="background:orangered;"><%= item.year %></span>
                <% } %>
            </td>
            <td>
                <% if ( item.status == "Archive" ) { %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.status %>" class="bi bi-archive"></span>
                <% } %>
                <% if ( item.status == "Ongoing" ) { %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.status %>" class="bi bi-play-circle-fill"></span>
                <% } %>
                <% if ( item.status == "Upcoming" ) { %>
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= item.status %>" class="bi bi-calendar-check-fill"></span>
                <% } %>
            </td>
        </tr>
    <% } %>
</tbody>
</table>

```
